{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="{% static 'vendor/local/css/styles.css' %}" />
<title>{% block title %}MyRestaurants by MyRecommentdations.org{% endblock %}</title>
</head>

<body>

<div id="header">
  {% block header %}
  {% if user.username %}
    <p>User {{ user.username }}</p>
    <p><a href="{% url 'password_change' %}">Change password?</a></p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
  {% else %}
    <p><a href="/login/">Sign in</a></p>
    <p><a href="{% url 'app02:signup' %}">Sign up</a></p>
  {% endif %}

  {% endblock %}
</div>

<div id="sidebar">
  {% block sidebar %}<ul><li><a href="/app02">Home</a></li></ul>{% endblock %}
</div>

<div id="content">
  {% block content %}
  {% if error_message %}<p><strong>{{ error_message}}</strong></p>{% endif %}
  {% endblock %}
</div>

<div id="footer">
  {% block footer %}{% endblock %}
</div>

</body>

</html>